<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Credit Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body>
    <h1>Credit Tracker</h1>
    {% block content %}
    <div id="info" style="text-align: left;">
    <p>Hi there! I'm a Statistics PhD student with no obligations this summer. However, I have to take a qualifying exam in the distant future, and I would like to study for it as much as possible. I also want to follow a daily exercise routine.</p>

    <p>The problem is that it's hard to stay motivated when your rewards are all in the distant future. That's why I made Credit Tracker. Whenever I study or exercise, I report it to Credit Tracker to earn credits. One hour of studying is worth one credit, and failing to exercise causes a five-credit penalty. With my credits, I can purchase fun rewards that I have established for myself.</p>

    <p>The app is simple and self-explanatory. Here is a screenshot of an example interface.</p>

    <img src="images/Screenshot.png" style="width: 80%; margin-left: 10%;" />

    <p>You can also designate another person to be your "rewarder." When I purchase a reward, an email is sent to my wife letting her know, and vice versa (she uses Credit Tracker too). We can also pool our credits. For example, I donated five credits to her, and she bought a "Dessert" for ten credits. Then we made a batch of cookies to share.</p>

    <p>My wife and I have found Credit Tracker fun and motivating, so I decided to make it public. <a href="/User">Give it a try</a>. If you have any questions or problems, feel free to email me: bravenewdude at gmail dot com.</p>

    <p>Also, the code for this little project is available <a href="https://github.com/bravenewdude/Credit-Tracker">here</a>.</p>

    <p>Best Regards,<br />WDB<br />30 June 2012</p>
    </div>
    {% endblock %}
  </body>
</html>
